* {
  padding: 0;
  margin: 0;
}
:root {
  --background-color: rgba(44, 79, 187, 1);
  --orange: rgba(250, 182, 75, 1);
  --white: white;
  --chocolate: rgba(86, 66, 66, 1);
}

body {
  background-color: var(--background-color);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 2rem;
}
menu {
  display: flex;
  justify-content: space-evenly;
  height: 54px;
  width: 624px;
  list-style: none;
  background-image: url(/public/assets/ilustraciones/Navbar\ tablón\ madera.png);
}
header > nav menu a {
  text-align: center;
  color: var(--chocolate);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}
h1 {
  color: var(--orange);
  padding-bottom: 1em;
  font-size: 2.5rem;
}
section.about_us {
  display: flex;
  flex-direction: column;
}
section.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section.about_us h2 {
  padding-bottom: 1em;
}

article.card_profes {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(30, 53, 116, 1);
  border-radius: 15px;
  width: 330px;
  height: 216px;
  margin: 2em;
}

article.sobre_nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  background-color: white;
}
article.nuestros_profes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}
article.nuestros_profes h2 {
  color: var(--orange);
}
article.nuestros_profes p {
  color: var(--white);
}
h3 {
  color: var(--orange);
}

div.card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
p.card_description {
  color: var(--white);
  overflow: hidden;
  word-wrap: break-word;
}
div.avatar:hover {
  scale: 1.1;
}
