*{
  padding: 0;
  margin: 0;
  
}
h1{
  color: rgba(86, 66, 66, 1);
}

.mobile_mode{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../public/assets/ilustraciones/Imagen\ header\ mobile.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.description{
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
background-color: white;
width: 100%;
padding: 2rem 0;
}
.text-description{
  width: 80%;
}
.instruments{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section h2{
  width: 80%;
  margin: 20px;
  font-size: 25px;
  color: #FAB64B;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section1{
  width: 80%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.instrumentsCard{
  background-color: #1E3574;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 25px;
  margin-bottom: 50px;
  justify-content: center;
  align-items:center;
}
.instrumentsCard img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.descriptionInstruments{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descriptionInstruments p{
  color: white;
  margin: 0 5%;
  margin-bottom: 5%;
}
.descriptionInstruments h3{
  color: #FAB64B;
  margin: 10% 5%;
}
.descriptionInstruments button{
  width: 100px;
  border-radius: 15px;
  border-style: none;
  color: white;
  background-color: #FAB64B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
}

header{
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url('../../public/assets/ilustraciones/imagen-header.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

@media (min-width: 800px) {
 
  .instruments .section1 {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      
  }
  .instruments .instrumentsCard{
      width: 45%;
      align-items: center;
      justify-content: center;
  }
  .desk_mode h1{
      color: #543017;
      margin: 30px;
      font-size: 3rem;
  }

  
  
}