*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: #2C4FBB;
}

/*Piano headboard*/

.wrapper{
    width: 1060px;
    background-image: url(/public/assets/ilustraciones/21348.jpg);
    background-size: cover;
    border-radius: 20px;
    padding: 35px 40px;

}

.wrapper .piano{
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.piano h2{
    font-size: 1.6rem;
}

.piano .column{
    display: flex;
    align-items: center;
}

.piano .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input{
    accent-color: white;
    outline: none;
}

.keys-checkbox input{
    width: 60px;
    height: 30px;
    appearance: none;
    background: #4b4b4b;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.keys-checkbox input::before{
    content: "";
    position: absolute;
    background: #8c8c8c;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5px;
    border-radius: inherit;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-checkbox input:checked::before{
    background: white;
    left: 35px;
}

/* Piano keys */ 
.piano-keys .key{
    list-style: none;
    color: #a2a2a2;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.piano-keys{
    display: flex;
    margin-top: 40px;
}

.piano-keys .white{
    width: 70px;
    height: 230px;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4% );
    border: 1px solid #000;
}

.piano-keys .white:active{
    /*Este sería otro efecto, que en lugar de hundir aplica un sombreado a la tecla. Podriamos probar colocando diferentes colores*/
    /*box-shadow: inset -5px 5px 20px rgba(185, 0, 0, 0.842);
    background: linear-gradient(to bottom, #e20707 0%, #f10404 100% );*/
    transform: scale(0.98);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.piano-keys .black{
    width: 44px;
    height: 140px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
    margin: 0 -22px 0 -22px;
    z-index: 2;
}

.piano-keys .black:active{
    transform: scale(0.98);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.piano-keys span{
    position: absolute ;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}