
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: 0;
    background-color: #2C4FBB;
}

.piano {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vh;
    justify-content: center;
}

.octave {
    display: flex;
    align-items: flex-end;
}

.key {
    width: 40px;
    height: 200px;
    margin: 1px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor:pointer; 
    user-select:none;
}

.white {
    background: #fff;
    
}

.black {
    background: #000;
    height: 120px;
    width: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 81px;
    z-index: 1;
}

.key:active{
    transform: scale(0.98);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}