* {
  padding: 0;
  margin: 0;
}

.principal {
  background-image: url("/public/assets/ilustraciones/batería-en-construcción.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   height: 100vw;
}
