* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("/public/assets/ilustraciones/violín-en-construcción.png");
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 90%;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
}

